@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body{
    font-family: 'GmarketSansMedium';
    color: white;
    background: #212121;
    padding: 0px;

}

.normal {
    margin: 20px;
    width: 98%;
    height: 93%;
    color: white;
    background: #212121;
    margin-top: 0px;
    font-family: 'GmarketSansMedium';
    resize: none;
    outline: none; 
    word-break: break-all;
    border: none;
    overflow: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    padding: 0px;
    margin: 1%;
    font-size: 40px;
}
